<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703023268739-m936v0crgr506ltm504npd442d2ssrqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703023268739-m936v0crgr506ltm504npd442d2ssrqq</string>
	<key>API_KEY</key>
	<string>AIzaSyDcOlFGavYxb5uKsVQWrGPPBpMt34Oeh8o</string>
	<key>GCM_SENDER_ID</key>
	<string>703023268739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SkylarClemens.Celery</string>
	<key>PROJECT_ID</key>
	<string>celery-c1e42</string>
	<key>STORAGE_BUCKET</key>
	<string>celery-c1e42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703023268739:ios:2f881e00a48e749c776cb6</string>
</dict>
</plist>